<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="http://localhost:81/loginSys/Assets/css/styleDashboard.css">
</head>

<body>
    <header>
        <div class="contentArea">
            Bem vindo {{username}},

            <a href="http://localhost:81/loginSys/dashboard/logout">Sair</a>
        </div>
    </header>

    <section class="box-dashboard">
        <div class="contentArea">
            <h1>DASHBOARD</h1>
        </div>
    </section>
</body>

</html>